#dashboard
  %table
    %th
      %input(type="reset" value="clear")
    %th
      %h2 Exercise
    %th
      %h2 Last Day Worked
    %th
      %h2 Days Since Worked
    
    - EXERCISES.each do |e|
      %tr
        %td 
          %input(type="checkbox")
        %td= e.capitalize
        %td
        %td
%br

#calendar
  %table
    - events.each do |e|
      %tr
        %td
          %h2= e[0]
        %td
          %p= e[1]
        %td
          %input(type="submit" value="update")
