#wrapper {
  width: 66%;
  margin: auto;
}
 
#header {
  background-color: #ade;
}
 
#header > h1 {
  font-size: 200%;
  text-align: center;
}

h2 {
  font-size: 130%;
}
 
#content {
  margin: 12px 0;
  float: left;
}
 
h1 {
  font-size: 150%;
}

#backup {
  float: right
}

#calendar p {
  color: #B01616; /*red wine*/
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

tbody tr:nth-child(odd) {
  background-color: #ccc;
}

td, th {
  border: 1px solid black;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
} 

ol {
  padding-top: 20px;
  background-color: #ade;
  display: block;
}
 
li {
  color: white;
  text-align: center;
  display: inline;
  padding: 5px 10px 0 10px;
  margin-right: 2px;
  background-color: #69a;
}
 
a {
  text-decoration: none;
}
